.blog-post-card31-blog-post-card {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    flex-direction: row;
    justify-content: center;
}

.blog-post-card31-image {
    width: 250px;
    padding: 20px;
    object-fit: contain;
}

.delete-button {
    padding-left: 90%;
}

.blog-post-card31-container {
    flex: 1;
    display: flex;
    padding: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.blog-post-card31-text {
    color: var(--dl-color-gray-500);
    font-style: normal;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    text-transform: uppercase;
}

.blog-post-card31-text1 {
    margin-bottom: var(--dl-space-space-threeunits);
}

.blog-post-card31-container1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
}

.blog-post-card31-text2 {
    color: var(--dl-color-gray-500);
    margin-bottom: var(--dl-space-space-halfunit);
}

.blog-post-card31-text3 {
    color: var(--dl-color-gray-black);
    font-weight: 500;
}

.blog-post-card31-text4 {
    color: var(--dl-color-gray-500);
    font-weight: 400;
}


@media (max-width: 991px) {
    .blog-post-card31-image {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .blog-post-card31-blog-post-card {
        flex-direction: column;
        justify-content: space-between;
    }

    .blog-post-card31-image {
        width: 100%;
    }

    .blog-post-card31-container {
        width: 100%;
    }

    .blog-post-card31-text {
        margin-bottom: var(--dl-space-space-unit);
    }

    .blog-post-card31-text1 {
        margin-bottom: var(--dl-space-space-twounits);
    }

    .blog-post-card31-container1 {
        margin-bottom: var(--dl-space-space-twounits);
    }
}

@media (max-width: 479px) {
    .blog-post-card31-text3 {
        width: auto;
    }
}

.schoolmainpage-container {

    min-height: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.schoolmainpage-schoolmainpage {
    width: 100%;
    min-height: 2500px;
    display: flex;

    position: relative;
    align-items: flex-end;
    flex-shrink: 0;
    border-color: transparent;
    background-size: auto;
    justify-content: center;
    background-image: linear-gradient(90deg, rgb(192, 36, 37) 0.00%, rgba(240, 203, 53, 0.62) 70.00%);
}

.schoolmainpage-header-log {
    top: 239px;
    right: 242px;
    width: 172px;
    height: 74px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: row;
    justify-content: flex-end;
    background-image: linear-gradient(90deg, rgba(240, 203, 53, 0.64) 0.00%, rgba(240, 203, 53, 0.64) 0.00%);
}

.schoolmainpage-text {
    top: 5px;
    left: 16px;
    color: rgb(0, 0, 0);
    width: 122px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: underline;
}

.schoolmainpage-text-signin {
    top: -28px;
    left: -4px;
    color: rgb(0, 0, 0);
    width: 122px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: underline;
}

.schoolmainpage-create-news {
    left: 42px;
    width: 100px;
    bottom: 7px;
    height: 31px;
    display: flex;
    position: absolute;
    border-width: 0;
    flex-direction: row;
    background-color: transparent;
}

.schoolmainpage-create-news-signin {
    left: 59px;
    width: 72px;
    bottom: 35px;
    height: 18px;
    display: flex;
    position: absolute;
    border-width: 0;
    flex-direction: row;
    background-color: transparent;
    top: 12px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    line-height: normal;
    font-stretch: normal;
    text-decoration: underline;
}

.schoolmainpage-text1 {
    top: 36px;
    left: 27px;
    position: absolute;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
}

.schoolmainpage-icon {
    top: 43px;
    right: 14px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.schoolmainpage-icon02 {
    top: 23px;
    left: 3px;
    width: 35px;
    height: 30px;
    position: absolute;
}

.schoolmainpage-header-m-a-i-n {
    top: 239px;
    left: 0;
    right: 0;
    width: 1163px;
    height: 74px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: var(--dl-radius-radius-radius4);
    margin: auto 0 0 auto;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(90deg, rgb(192, 36, 37) 0.00%, rgba(240, 203, 53, 0.67) 86.00%);
}

.schoolmainpage-search {
    top: 16px;
    right: 34px;
    width: 153px;
    height: 41px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(187, 224, 172, 0.69);
}

.schoolmainpage-textinput {
    right: -1px;
    width: 119px;
    bottom: -1px;
    position: absolute;
    border-width: 0;
    padding-left: 0;
    background-color: transparent;
}

.schoolmainpage-icon04 {
    top: 6px;
    left: 1px;
    width: 33px;
    height: 29px;
    position: absolute;
}

.schoolmainpage-g-a-l-l-e-r-y {
    top: 17px;
    left: 206px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.schoolmainpage-create-news1 {
    width: 128px;
    height: 37px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.schoolmainpage-text2 {
    top: 7px;
    right: 7px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
}

.schoolmainpage-icon06 {
    top: 6px;
    left: 7px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.schoolmainpage-n-e-w-s {
    top: 17px;
    left: 28px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.schoolmainpage-create-news2 {
    width: 107px;
    height: 37px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.schoolmainpage-text3 {
    top: 7px;
    left: 42px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
}

.schoolmainpage-icon10 {
    top: 6px;
    left: 9px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.schoolmainpage-c-l-a-s-s-e-s {
    top: 17px;
    left: 394px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.schoolmainpage-create-news3 {
    width: 133px;
    height: 38px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.schoolmainpage-text4 {
    top: 8px;
    left: 35px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
}

.schoolmainpage-icon12 {
    top: 6px;
    left: 7px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.schoolmainpage-g-r-a-d-l-e-s {
    top: 17px;
    left: 593px;
    width: 138px;
    display: flex;
    padding: 0 1px 0 0;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.schoolmainpage-create-news4 {
    width: 145px;
    height: 37px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.schoolmainpage-text5 {
    top: 8px;
    right: 4px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
}

.schoolmainpage-icon15 {
    top: 7px;
    left: 4px;
    width: 21px;
    height: 21px;
    position: absolute;
}

.schoolmainpage-t-e-a-c-h-e-r-s {
    top: 17px;
    left: 781px;
    width: 138px;
    display: flex;
    padding: 0 1px 0 0;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.schoolmainpage-create-news5 {
    width: 125px;
    height: 36px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.schoolmainpage-text6 {
    top: 11px;
    left: 31px;
    position: absolute;
    font-style: normal;
    font-weight: 700;
}

.schoolmainpage-icon20 {
    top: 7px;
    left: 5px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.schoolmainpage-blog {
    top: 345px;
    left: 0;
    right: 0;
    width: 1352px;
    min-height: auto;
    margin: auto;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    position: absolute;
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(90deg, rgb(192, 36, 37) 0.00%, rgba(240, 203, 53, 0.62) 70.00%);
}

.schoolmainpage-container1 {
    min-height: auto;
    border-color: var(--dl-color-gray-black);
    border-style: double;
    border-width: var(--dl-size-size-xsmall);
    border-radius: var(--dl-radius-radius-radius8);
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
}

.schoolmainpage-container2 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
}

.schoolmainpage-button-delete {
    top: 67px;
    right: 22px;
    width: 168px;
    height: 39px;
    margin: auto;
    position: absolute;
    box-shadow: 5px 5px 10px 0 #7a0808;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    padding-top: 10px;
    border-width: 0;
    padding-left: 18px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.56);
}

.schoolmainpage-button {
    top: 3px;
    right: 22px;
    width: 168px;
    height: 39px;
    margin: auto;
    position: absolute;
    box-shadow: 5px 5px 10px 0 #d4d4d4;
    font-style: normal;
    font-family: Montserrat, ui-sans-serif;
    font-weight: 500;
    padding-top: 10px;
    border-width: 0;
    padding-left: 18px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.56);
}

.schoolmainpage-logo {
    top: 14px;
    left: 0;
    right: 0;
    width: 257px;
    height: 218px;
    margin: auto;
    position: absolute;
    object-fit: cover;
}

.schoolmainpage-footer {
    width: 100%;
    height: 50px;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding: var(--dl-space-space-twounits) var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.schoolmainpage-icon-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.schoolmainpage-icon22 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.schoolmainpage-icon24 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.schoolmainpage-icon26 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

@media (max-width: 1600px) {
    .schoolmainpage-schoolmainpage {
        background-position: top left;
    }

    .schoolmainpage-header-log {
        top: 239px;
        right: 23px;
    }

    .schoolmainpage-header-m-a-i-n {
        top: 239px;
        left: 24px;
        right: 220px;
        width: 1102px;
        position: absolute;
    }

    .schoolmainpage-blog {
        top: 332px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .schoolmainpage-footer {
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }

    .schoolmainpage-icon-group {
        align-self: flex-end;
        align-items: center;
        justify-content: flex-end;
    }
}

@media (max-width: 767px) {
    .schoolmainpage-blog {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .schoolmainpage-footer {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .schoolmainpage-text7 {
        text-align: center;
        margin-left: var(--dl-space-space-unit);
        margin-right: var(--dl-space-space-unit);
    }
}

@media (max-width: 479px) {
    .schoolmainpage-blog {
        padding: var(--dl-space-space-twounits) var(--dl-space-space-unit);
    }

    .schoolmainpage-footer {
        padding: var(--dl-space-space-unit);
        flex-direction: column;
    }

    .schoolmainpage-text7 {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: var(--dl-space-space-unit);
    }
}
