.page-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.school-authorization-page {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(157, 26, 26, 1);
}

.error-log {
    color: #7a0808;
    margin: 40px;
}

.page-header-log {
    top: 0;
    left: 0;
    right: 0;
    width: 454px;
    bottom: 0;
    height: 332px;
    margin: auto;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-end;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0 0 0 0;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(246, 222, 222, 0.800000011920929);
}

.page-password {
    top: 177px;
    left: 96px;
    position: absolute;
    margin-top: 5px;
}

.page-login {
    top: 66px;
    left: 0;
    width: 144px;
    position: absolute;
    margin: 0 0 0 60px;
}

.page-text {
    top: 11px;
    left: 127px;
    color: rgb(0, 0, 0);
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px 0;
    font-style: Bold;
    text-align: left;
    font-family: Raleway, serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.page-action-hide-password1 {
    top: 178px;
    right: 46px;
    width: 39px;
    height: 41px;
    padding: 0;
    position: absolute;
}

.page-login1 {
    top: 64px;
    right: 0;
    width: 144px;
    position: absolute;
    margin: auto 60px auto auto;
}

.page-login2 {
    top: 121px;
    left: 0;
    width: 145px;
    position: absolute;
    margin: auto auto auto 60px;
}

.page-button {
    left: 178px;
    width: 116px;
    bottom: 23px;
    height: 19px;
    display: flex;
    position: absolute;
    border-width: 0;
    padding-left: 0;
    border-radius: 0;
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.page-text1 {
    left: 0;
    bottom: -13px;
    position: absolute;
    text-decoration: underline;
}

.page-singin {
    top: 239px;
    left: 156px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.page-button1 {
    width: 178px;
    height: 41px;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #da3333;
}

.page-text2 {
    top: 11px;
    left: 44px;
    position: absolute;
}

.page-login3 {
    top: 120px;
    left: 251px;
    right: 60px;
    width: 144px;
    position: absolute;
    margin: 0 60px 0 0;
}

.page-image-school-logo-1 {
    top: 42px;
    left: 0;
    right: 0;
    width: auto;
    height: 258px;
    margin: auto;
    position: absolute;
    border-color: transparent;
}
