.create-news-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.create-news-logo {
    top: 14px;
    left: 603px;
    width: 257px;
    height: 218px;
    margin: auto;
    position: absolute;
    object-fit: cover;
}

.create-news-galerry {
    width: 100%;
    height: 1048px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-end;
    flex-shrink: 0;
    border-color: transparent;
    background-size: auto;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1606636660801-c61b8e97a1dc?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI4fHxzY2hvb2x8ZW58MHx8fHwxNjY2Mjk1MjYw&ixlib=rb-4.0.3&w=1500");
}

.create-news-footer {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding: var(--dl-space-space-twounits) var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.create-news-icon-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.create-news-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    box-shadow: 5px 5px 10px 0 #d4d4d4;
    margin-right: var(--dl-space-space-twounits);
}

.create-news-icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    box-shadow: 5px 5px 10px 0 #d4d4d4;
    margin-right: var(--dl-space-space-twounits);
}

.create-news-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    box-shadow: 5px 5px 10px 0 #d4d4d4;
}

.create-news-header-m-a-i-n {
    top: 239px;
    left: 25px;
    width: 1127px;
    height: 74px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    margin-right: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 0;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(189, 178, 178, 0.5);
}

.create-news-search {
    top: 16px;
    right: 34px;
    width: 153px;
    height: 41px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(187, 224, 172, 0.69);
}

.create-news-textinput {
    right: -1px;
    width: 119px;
    bottom: -1px;
    position: absolute;
    border-width: 0;
    padding-left: 0;
    background-color: transparent;
}

.create-news-icon06 {
    top: 6px;
    left: 1px;
    width: 33px;
    height: 29px;
    position: absolute;
}

.create-news-g-a-l-l-e-r-y {
    top: 17px;
    left: 206px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.create-news-create-news {
    width: 128px;
    height: 37px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.create-news-text01 {
    top: 7px;
    right: 7px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
}

.create-news-icon08 {
    top: 6px;
    left: 7px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.create-news-n-e-w-s {
    top: 17px;
    left: 28px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.create-news-create-news1 {
    width: 107px;
    height: 37px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.create-news-text02 {
    top: 7px;
    left: 42px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
}

.create-news-icon12 {
    top: 6px;
    left: 9px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.create-news-c-l-a-s-s-e-s {
    top: 17px;
    left: 394px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.create-news-create-news2 {
    width: 133px;
    height: 38px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.create-news-text03 {
    top: 8px;
    left: 35px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
}

.create-news-icon14 {
    top: 6px;
    left: 7px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.create-news-g-r-a-d-l-e-s {
    top: 17px;
    left: 593px;
    width: 138px;
    display: flex;
    padding: 0 1px 0 0;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.create-news-create-news3 {
    width: 145px;
    height: 37px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.create-news-text04 {
    top: 8px;
    right: 4px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
}

.create-news-icon17 {
    top: 7px;
    left: 4px;
    width: 21px;
    height: 21px;
    position: absolute;
}

.create-news-t-e-a-c-h-e-r-s {
    top: 17px;
    left: 781px;
    width: 138px;
    display: flex;
    padding: 0 1px 0 0;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.create-news-create-news4 {
    width: 125px;
    height: 36px;
    display: flex;
    border-width: 0;
    flex-direction: row;
    background-color: rgba(187, 224, 172, 0.69);
}

.create-news-text05 {
    top: 11px;
    left: 31px;
    position: absolute;
    font-style: normal;
    font-weight: 700;
}

.create-news-icon22 {
    top: 7px;
    left: 5px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.create-news-logo {
    top: 14px;
    left: 0;
    right: 0;
    width: 257px;
    height: 218px;
    margin: auto;
    position: absolute;
    object-fit: cover;
}

.create-news-headerlog {
    top: 237px;
    right: 55px;
    width: 172px;
    height: 74px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    margin-right: 0;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(189, 178, 178, 0.5);
}

.create-news-text06 {
    top: 4px;
    left: 23px;
    color: rgb(0, 0, 0);
    width: 122px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: underline;
}

.create-news-create-news5 {
    left: 42px;
    width: 100px;
    bottom: 7px;
    height: 31px;
    display: flex;
    position: absolute;
    border-width: 0;
    flex-direction: row;
    background-color: transparent;
}

.create-news-text07 {
    top: 33px;
    left: 35px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
}

.create-news-icon24 {
    top: 5px;
    right: -24px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.create-news-icon26 {
    top: 23px;
    left: 3px;
    width: 35px;
    height: 30px;
    position: absolute;
}

.create-news-banner {
    top: 418px;
    left: 39px;
    width: 1339px;
    height: 420px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
    background-color: rgba(189, 178, 178, 0.5);
}

.create-news-textinput1 {
    top: 153px;
    left: 621px;
    position: absolute;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.58);
}

.create-news-text08 {
    top: 29px;
    left: 144px;
    position: absolute;
    max-width: var(--dl-size-size-maxwidth);
    text-align: center;
}

.create-news-textarea {
    top: 272px;
    left: 551px;
    width: 376px;
    height: 68px;
    position: absolute;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.52);
}

.create-news-container1 {
    flex: 0 0 auto;
    right: -55px;
    width: 100%;
    bottom: 30px;
    height: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.create-news-button2 {
    color: var(--dl-color-gray-white);
    font-size: 0.75rem;
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    background-color: var(--dl-color-gray-black);
}

.create-news-button2:hover {
    color: var(--dl-color-gray-black);
    background-color: transparent;
}

.create-news-button {
    color: var(--dl-color-gray-white);
    font-size: 0.75rem;
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    background-color: var(--dl-color-gray-black);
}

.create-news-button:hover {
    color: var(--dl-color-gray-black);
    background-color: transparent;
}

.create-news-button1 {
    color: var(--dl-color-gray-white);
    font-size: 0.75rem;
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    background-color: var(--dl-color-gray-black);
}

.create-news-button1:hover {
    color: var(--dl-color-gray-black);
    background-color: transparent;
}

.create-news-textinput2 {
    top: 210px;
    left: 554px;
    position: absolute;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.57);
}

.create-news-textinput3 {
    top: 210px;
    left: 554px;
    position: absolute;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.57);
}

@media (max-width: 1600px) {
    .create-news-galerry {
        background-size: cover;
        background-image: url("https://images.unsplash.com/photo-1504465039710-0f49c0a47eb7?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDMyfHxuZXdzfGVufDB8fHx8MTY2NjYwMTMyMQ&ixlib=rb-4.0.3&w=1500");
        background-position: center;
    }

    .create-news-footer {
        height: 82px;
    }

    .create-news-header-m-a-i-n {
        top: 239px;
        left: 24px;
        position: absolute;
    }

    .create-news-headerlog {
        top: 239px;
        right: 33px;
    }

    .create-news-banner {
        top: 418px;
        left: 71px;
        width: 1228px;
        height: 506px;
        margin: auto;
        padding-right: 0;
        background-color: rgba(157, 218, 224, 0.9);
    }

    .create-news-textinput1 {
        top: 127px;
        left: 126px;
        width: 381px;
        height: 38px;
    }

    .create-news-text08 {
        top: 45px;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
    }

    .create-news-textarea {
        top: 209px;
        left: 122px;
        width: 662px;
        height: 164px;
    }

    .create-news-container1 {
        left: 465px;
        width: 263px;
        bottom: 33px;
        height: 51px;
        margin: 0;
    }

    .create-news-button {
        top: 4px;
        left: -6px;
        color: var(--dl-color-gray-black);
        width: 125px;
        position: absolute;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        border-radius: var(--dl-radius-radius-radius4);
        background-color: rgba(187, 224, 172, 0.69);
    }

    .create-news-button2 {
        top: 4px;
        left: 1275px;
        color: var(--dl-color-gray-black);
        width: 125px;
        position: absolute;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        border-radius: var(--dl-radius-radius-radius4);
        background-color: rgba(187, 224, 172, 0.69);
    }

    .create-news-button1 {
        top: 9px;
        left: 153px;
        color: var(--dl-color-gray-black);
        position: absolute;
        font-size: 0.75rem;
        background-color: rgba(187, 224, 172, 0.69);
    }

    .create-news-textinput2 {
        top: 298px;
        left: 820px;
        right: 36px;
        width: 378px;
        height: 39px;
        margin: 0;
    }

    .create-news-text12 {
        top: 105px;
        left: 125px;
        position: absolute;
        padding-bottom: 5px;
    }

    .create-news-text13 {
        top: 188px;
        left: 129px;
        position: absolute;
        padding-bottom: 5px;
    }

    .create-news-textinput3 {
        top: 126px;
        left: 557px;
        width: 269px;
        height: 39px;
        margin: 1px;
    }

    .create-news-text14 {
        top: 102px;
        left: 559px;
        position: absolute;
    }

    .create-news-text15 {
        top: 279px;
        left: 824px;
        position: absolute;
    }
}

@media (max-width: 991px) {
    .create-news-text08 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .create-news-footer {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .create-news-text {
        text-align: center;
        margin-left: var(--dl-space-space-unit);
        margin-right: var(--dl-space-space-unit);
    }

    .create-news-banner {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .create-news-text08 {
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }
}

@media (max-width: 479px) {
    .create-news-footer {
        padding: var(--dl-space-space-unit);
        flex-direction: column;
    }

    .create-news-text {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .create-news-banner {
        padding: var(--dl-space-space-threeunits) var(--dl-space-space-unit);
    }

    .create-news-container1 {
        align-items: center;
        flex-direction: column;
    }

    .create-news-button {
        margin-top: var(--dl-space-space-unit);
        margin-left: 0;
    }

    .create-news-button1 {
        margin-top: var(--dl-space-space-unit);
        margin-left: 0;
    }
}
