<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div class="container my-5">
    <h3> Update profile</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/admin/update/{id}(id=${user})}" th:object="${user}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="avatar" class="col-form-label">Avatar </label> <img th:src="@{${'/users/avatar/display/'+ user.id}}"
                                                                                              class="card img-fluid" style="width:200px" id="avatar">
                            <span th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="firstName" class="col-form-label">First name</label> <input type="text"
                                                                                                   th:field="*{firstName}"
                                                                                                   class="form-control"
                                                                                                   id="firstName"
                                                                                                   placeholder="firstName">
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="lastName" class="col-form-label">Last name</label><input type="text"
                                                                                                  th:field="*{lastName}"
                                                                                                  class="form-control"
                                                                                                  id="lastName"
                                                                                                  placeholder="lastName">
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="Email" class="col-form-label">Email</label> <input type="text"
                                                                                           th:field="*{email}"
                                                                                           class="form-control"
                                                                                           id="Email"
                                                                                           placeholder="Email"> <span
                                th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="login" class="col-form-label">login</label> <input type="text"
                                                                                           th:field="*{login}"
                                                                                           class="form-control"
                                                                                           id="login"
                                                                                           placeholder="login"> <span
                                th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label>Roles:
                                <input type="checkbox" name="roles"
                                       th:each="role : ${roles}"
                                       th:text="${role.name}"
                                       th:value="${role.name}"
                                       th:field="*{roles}"
                                />
                            </label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Update user">
                        </div>
                        <div class="form-group col-md-8">
                            <a type="submit" class="btn btn-primary" th:href="@{/admin}">Admin panel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>